* {
  box-sizing: border-box;
}

:root {
  --s: 50px;

  --borderColor: #bfbfbf;
  --activeColor: #f3f331;
  --successColor: green;
  --errorColor: red;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.list {
  max-width: 500px;
}

.cell {
  background-color: #498fbd;
  border-bottom: 1px solid var(--borderColor);
  border-right: 1px solid var(--borderColor);
  transition: background-color 0.3s;
  width: var(--s);
  height: var(--s);
}

.cell:nth-child(10n + 1) {
  border-left: 1px solid var(--borderColor);
}

.cell:nth-child(-n + 10) {
  border-top: 1px solid var(--borderColor);
}

.cell-active {
  background-color: var(--activeColor);
  cursor: pointer;
}

.cell-success {
  background-color: var(--successColor);
}

.cell-error {
  background-color: var(--errorColor);
}

button {
  background-color: #009a00;
  padding: 10px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 3px;
  transition: box-shadow 0.3s;
}

button:hover {
  box-shadow: 0 0 3px #000;
}

p {
  margin: 0;
}
