* {
  box-sizing: border-box;
}

:root {
  --s: 50px;

  --borderColor: #bfbfbf;
  --activeColor: #f3f331;
  --successColor: green;
  --errorColor: red;
}

.d-grid {
  display: grid;
}

.list {
  grid-template-columns: repeat(10, var(--s));
  grid-template-rows: repeat(10, var(--s));
  border-left: 1px solid var(--borderColor);
  border-top: 1px solid var(--borderColor);
  width: 500px;
}

.cell {
  background-color: #498fbd;
  border-bottom: 1px solid var(--borderColor);
  border-right: 1px solid var(--borderColor);
  transition: background-color 0.3s;
}

.cell-active {
  background-color: var(--activeColor);
  cursor: pointer;
}

.cell-success {
  background-color: var(--successColor);
}

.cell-error {
  background-color: var(--errorColor);
}
